.block-note--error p {
	max-width: none;
}
.section{
  margin: 0;
}
.strong {
	font-weight: 600;
}

#previewVideo,
#videoholder {
    background-color: #000;
}

.connect-form,
.ortc-status {
	border-top: 1px solid #d2d2d2;
}

.modal {
    background-color: rgba(0,0,0,.5);
}

.modal__footer button:only-child {
	float: none;
}

.ortc-status__title,
.ortc-status__description {
	display: inline;
}

/* Styles for when layout is not stacked */
@media (min-width: 48em) {
	
  .button 
  {
    width: 100%;
  }

}

@media (min-width: 48em) and (max-width: 64em) {

	.layout--sidebar > .module--secondary {
		width: 28rem;
	}

	.layout--sidebar > .module--primary {
		float: right;
		width: calc(100% - 34rem);
	}

}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
 
li a {
  text-decoration: none;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.contact a:focus{
  color: LimeGreen;
}
#contactList{
  margin: 0 0 15px 0;
  border-bottom: 1px solid #ccc;
}
#showName{
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#showName>p{
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}
#changeName>*{
  margin-bottom: 5px;
}
#toggleTrickleIce{
  position: static;
}
label[for="toggleTrickleIce"] {
  font-size: 22px;
}

input#mute {
  display: none;
}

#mute_icon {
  color: red;
}

input#muteVideo {
  display: none;
}
#stateChange {
  display: flex;
  margin-bottom: 20px;
}
#muteVideo_icon {
  color: red;
}
